
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}
header{
    height: 101px;
    color: blueviolet;
    background-color: white;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px; 
}
.logo img{
    height: 50px;
}
.menu{
    display: flex;
    gap: 0 50px;
}
.menu a{
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #0e0a23 ;
    text-transform: capitalize;
}
button{
    padding: 14px 26px;
    font-size: 16px;
    border: 0px;
    color: #fff;
    background-color: #0e0a23;
    border-radius: 35px;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    margin-top: 30px;
}

.section1{
    display: flex;
    justify-content: space-between;
}
.herosection{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    width: 50%;
    padding: 0 10%;
}

.herosection h1{
    text-transform: uppercase;
    font-size: 72px;
    color:  #0e0a23;
    margin: 0;
}
.herosection p{
    font-size: 16px;
    color: #0e0a23;
    line-height: 25.6px;
}
.imgsection{

    width: 45%;
}

.imgsection img{
    width: 470px;
    /* height: 991px; */
    border-radius: 12px 120px 12px 12px;
}
.section2{
    background: url('images/digital.png');
    background-position: center;
    background-size: cover;
    padding: 10% 3.6%;
    display: flex;
    justify-content: center;
    /* aligxn-items: center; */
}
.herosection2{
    display: flex;
    padding: 10% 4%;
    flex-direction: column;
    background: #fff;
    width: 80%;
    height: 75%;
}
.herosection2 h2{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 25.6px;
    margin: 0;
    text-align: center;
    justify-content: center;
}
.herosection2 p{
    font-size: 16px;
    color: #0e0a23;
    line-height: 25.6px;
    /* text-wrap: wrap; */
    text-align: center;
}